* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----Header mobile part----- */
.header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 50% 50% 1fr;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}
.heading-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 0%, 20%);
  line-height: 1.2;
}
.unordered-lists {
  list-style-type: none;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}
.unordered-lists li {
  line-height: 1.6rem;
}
.unordered-lists li a {
  text-decoration: none;
  color: hsl(202, 21%, 20%);
  font-size: 1.3rem;
}
.unordered-lists li a:hover {
  color: hsl(0, 1%, 50%);
}
.donate-today-button {
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  width: 18rem;
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  background-color: hsl(142, 77%, 86%);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: hsl(220, 30%, 30%);
  margin-top: 2rem;
}
.donate-today-button:hover {
  background-color: hsl(220, 30%, 30%);
  color: hsl(142, 77%, 86%);
}

/* -----header desktop part----- */
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    padding: 1.3rem;
  }
  .heading-content p {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 15rem;
    font-size: 1.6rem;
    font-family: "Times New Roman", Times, serif;
  }
  .menu-bar {
    padding-left: 10rem;
  }
  .unordered-lists {
    display: flex;
    flex-direction: row;
  }
  .unordered-lists li a {
    margin-right: 4rem;
    font-size: 1.2rem;
  }
  .donate-today-button {
    width: 12rem;
    font-size: 1rem;
    margin-top: 0.4rem;
  }
}
/* -----stop climate mobile part----- */
.stop-climate-change {
  background-image: url("./assets/stop-climate-change.png");
  padding: 3rem;
  height: 46rem;
  background-size: cover;
  background-position: 80% 5%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.climate-change {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.side-content {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  width: 2rem;
  padding-bottom: 5rem;
}
.climate-card {
  width: 20rem;
  height: 18rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.issue-line {
  width: 8rem;
  background-color: hsl(220, 30%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
  position: relative;
  bottom: 3.2rem;
}
.climate-content,
.about-social-cause {
  padding-left: 1rem;
  padding-right: 1rem;
}
.climate-content {
  color: hsl(220, 30%, 30%);
}
.about-social-cause {
  padding-top: 2rem;
  color: hsl(221, 20%, 39%);
}

/* -----stop climate desktop part----- */
@media (min-width: 1024px) {
  .stop-climate-change {
    font-family: "Times New Roman", Times, serif;
    height: 45rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20rem;
  }
  .climate-card {
    width: 35rem;
    height: 28rem;
  }
  .climate-content {
    font-size: 3rem;
    text-align: start;
  }
  .about-social-cause,
  .climate-content {
    padding: 2rem;
  }
  .about-social-cause {
    color: hsl(220, 30%, 30%);
    font-size: 1rem;
    align-self: flex-start;
  }
  .issue-line {
    width: 12rem;
    position: relative;
    bottom: 2.5rem;
    right: 8rem;
  }
  .side-content {
    font-size: 4rem;
    padding-right: 12rem;
    padding-top: 4rem;
  }
}

/* -----Take action mobile part----- */
.take-action-content {
  background-color: hsl(142, 77%, 86%);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 50% 50% 1fr;
  grid-template-rows: 50% 50% 1fr;
  gap: 1rem;
  padding: 4rem;
}
.action-content {
  width: 9rem;
  height: 2.8rem;
  background-color: hsl(220, 30%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5.2rem;
  right: 15.5rem;
  color: hsl(0, 0%, 100%);
}
.learn-content {
  grid-column: 1;
  grid-row: 1;
}
.volunteer-content {
  grid-column: 2;
  grid-row: 1;
}
.share-content {
  grid-column: 1;
  grid-row: 2;
}
.donate-content {
  grid-column: 2;
  grid-row: 2;
}
.learn-para,
.volunteer-para,
.share-para,
.donate-para {
  margin-top: 0.8rem;
  color: hsl(208, 21%, 38%);
  font-size: 1.1rem;
}
.learn-heading,
.volunteer-heading,
.share-heading,
.donate-heading {
  color: hsl(220, 29%, 30%);
  font-size: 1.3rem;
}

/* -----Take action desktop part----- */
@media (min-width: 1024px) {
  .take-action-content {
    display: flex;
    flex-direction: row;
    font-family: "Times New Roman", Times, serif;
    gap: 1rem;
    height: 15rem;
    padding-left: 5.3rem;
    padding-right: 15rem;
  }
  .learn-para,
  .volunteer-para,
  .share-para,
  .donate-para {
    font-size: 1rem;
    font-family: sans-serif;
  }
  .learn-heading,
  .volunteer-heading,
  .share-heading,
  .donate-heading {
    font-size: 1.8rem;
  }
  .action-content {
    display: block;
    height: 3rem;
    width: 13rem;
  }
}

/* -----what we do mobile part----- */
.our-mission {
  background-color: hsl(220, 30%, 30%);
  font-family: sans-serif;
  height: 156rem;
  padding: 3rem;
}
.what-we-do {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.what-we-do-button {
  width: 13rem;
  height: 4rem;
  background-color: hsl(0, 0%, 100%);
  border: none;
  color: hsl(220, 30%, 30%);
  font-weight: 500;
}
.mission-para {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  padding-bottom: 8rem;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 6rem;
}
.tree-card,
.education-card,
.advocacy-card {
  width: 23rem;
  height: 38rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tree-image,
.education-image,
.advocacy-image {
  height: 15rem;
  width: 20rem;
  position: relative;
  bottom: 5rem;
}
.tree-heading,
.education-heading,
.advocacy-heading {
  font-size: 1.4rem;
  color: hsl(220, 30%, 30%);
}
.tree-content,
.education-content,
.advocacy-content {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: hsl(219, 18%, 42%);
}
.tree-button,
.education-button,
.advocacy-button {
  margin-top: 2rem;
  width: 15rem;
  height: 4rem;
  border-radius: 5rem;
  border: none;
  font-weight: 800;
  font-size: 1.1rem;
  background-color: hsl(142, 77%, 86%);
  color: hsl(220, 30%, 30%);
}
.tree-button:hover,
.education-button:hover,
.advocacy-button:hover {
  background-color: hsl(220, 30%, 30%);
  color: hsl(142, 77%, 86%);
}

/* -----what we do desktop part----- */
@media (min-width: 1024px) {
  .our-mission {
    font-family: "Times New Roman", Times, serif;
    height: 65rem;
  }
  .what-we-do {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .what-we-do-button {
    height: 3rem;
    margin-right: 54rem;
  }
  .mission-para {
    margin-left: 11rem;
    text-align: start;
    font-size: 2.8rem;
    margin-right: 6rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 3.3rem;
    margin-left: 2rem;
  }
  .tree-card,
  .education-card,
  .advocacy-card {
    width: 18rem;
    height: 38rem;
  }
  .tree-image,
  .education-image,
  .advocacy-image {
    width: 18rem;
  }
  .tree-content,
  .education-content,
  .advocacy-content {
    margin-left: 2rem;
    margin-right: 2rem;
    color: hsl(219, 18%, 42%);
    line-height: 1.6rem;
    text-align: start;
  }
  .tree-image,
  .education-image,
  .advocacy-image {
    position: relative;
    left: 2rem;
    bottom: 3rem;
  }
  .tree-heading,
  .education-heading,
  .advocacy-heading {
    font-weight: 800;
    font-size: 1.8rem;
    margin-left: 2rem;
  }

  .tree-button,
  .education-button,
  .advocacy-button {
    width: 12rem;
    height: 3rem;
  }
}

/* -----climate change is a hunger mobile part----- */
.hunger-issue {
  position: relative;
  height: 165vh;
}
.hunger-issue::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/did-you-know-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
}
.hunger-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.hunger-heading {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  font-size: 3rem;
  margin-right: 3rem;
  color: hsl(0, 0%, 100%);
}
.take-action-button {
  width: 15rem;
  height: 4rem;
  background-color: hsl(142, 77%, 86%);
  border-radius: 2rem;
  border: none;
  font-weight: 800;
  color: hsl(220, 30%, 30%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.take-action-button:hover {
  background-color: hsl(220, 30%, 30%);
  color: hsl(142, 77%, 86%);
}
.people-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.out-of-card,
.million-100-card,
.thirty-percentage-card,
.million-200-card {
  width: 23rem;
  height: 13rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.people-cards-heading {
  width: 10rem;
  height: 3rem;
  background-color: hsl(220, 30%, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3.5rem;
  color: hsl(0, 0%, 100%);
}
.out-of-card-content,
.million-100-card-content,
.thirty-percentage-card-content,
.million-200-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.out-of-card-heading,
.million-100-card-heading,
.thirty-percentage-card-heading,
.million-200-card-heading {
  padding: 2rem;
  font-size: 2rem;
  color: hsl(220, 30%, 30%);
}
.out-of-card-para,
.million-100-card-para,
.thirty-percentage-card-para,
.million-200-card-para {
  margin-left: 2rem;
  margin-right: 4.4rem;
  font-size: 1.2rem;
  color: hsl(219, 18%, 42%);
}
.out-of-card-links,
.million-100-card-links,
.thirty-percentage-card-links,
.million-200-card-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  gap: 2rem;
}
.twitter,
.facebook {
  width: 3.3rem;
  height: 3.3rem;
  background-color: hsl(142, 77%, 86%);
  padding: 1.1rem;
  border-radius: 40%;
}
.twitter:hover,
.facebook:hover {
  border: 2px solid hsl(220, 30%, 30%);
}

/* -----climate change is a hunger desktop part----- */
@media (min-width: 1024px) {
  .hunger-issue {
    height: 75rem;
    display: flex;
    flex-direction: row;
  }
  .hunger-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin-top: 9rem;
  }
  .hunger-heading {
    margin-left: 11rem;
    margin-right: 10rem;
    font-size: 3.3rem;
    font-style: italic;
  }
  .take-action-button {
    margin-left: 11rem;
    width: 12rem;
    height: 3.3rem;
  }
  .people-cards {
    display: flex;
    flex-direction: column;
    margin-right: 17rem;
  }
  .out-of-card,
  .million-100-card,
  .thirty-percentage-card,
  .million-200-card {
    width: 33rem;
    height: 13rem;
  }
  .people-cards-heading {
    margin-right: 18rem;
  }
}

/* -----stories mobile part----- */
.stories-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.stories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stories-heading {
  padding: 1.3rem;
  width: 11rem;
  background-color: hsl(220, 30%, 30%);
  position: relative;
  top: 4.8rem;
  left: 6.4rem;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.lady-baby-image {
  width: 23rem;
  height: 22rem;
  margin-top: 3rem;
}
.stories-content {
  width: 23rem;
  height: 18rem;
  background-color: hsl(220, 30%, 30%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 1.8rem;
  gap: 1.2rem;
}
.stories-para {
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 800;
}
.stories-book {
  font-family: sans-serif;
}
.stories-button {
  display: none;
}
.stories-read-button {
  padding: 1rem;
  width: 12rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
  border: none;
  background-color: hsl(142, 77%, 86%);
  font-size: 1.3rem;
  font-weight: 800;
}
.stories-read-button:hover {
  background-color: hsl(220, 30%, 30%);
  color: hsl(142, 77%, 86%);
}

/* -----stories desktop part----- */
@media (min-width: 1024px) {
  .stories-section {
    height: 43rem;
    display: flex;
    flex-direction: column;
  }
  .stories {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 6rem;
  }
  .stories-heading {
    padding: 1rem;
  }
  .stories-image {
    margin-right: 8rem;
  }
  .lady-baby-image {
    width: 35rem;
    height: 30rem;
    margin-bottom: 4rem;
  }
  .stories-content {
    width: 33rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5.5rem;
    gap: 2rem;
  }
  .stories-para {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: start;
  }
  .stories-book {
    display: flex;
    align-self: flex-start;
    padding-left: 2rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .stories-read-button {
    display: none;
  }
  .stories-button {
    display: block;
    padding: 1rem;
    width: 12rem;
    border-radius: 2rem;
    border: none;
    background-color: hsl(142, 77%, 86%);
    font-size: 1.3rem;
    font-weight: 800;
    position: relative;
    bottom: 10rem;
    right: 27rem;
  }
  .stories-button:hover {
    background-color: hsl(220, 30%, 30%);
    color: hsl(142, 77%, 86%);
  }
}

/* -----save future mobile part----- */
.save-future {
  background-color: hsl(220, 30%, 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 140rem;
}
.save-future-section {
  display: none;
}
.save-future-content {
  padding: 2rem;
}
.save-future-heading {
  margin-top: 5rem;
  color: hsl(0, 0%, 100%);
  font-family: "Protest Riot", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 3.8rem;
  text-align: center;
}
.event-card,
.latest-news-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.event-card-heading,
.card-heading {
  width: 9rem;
  height: 3.3rem;
  color: hsl(220, 30%, 30%);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  top: 3.6rem;
}
.card-heading {
  width: 12rem;
}
.event-card-image,
.latest-news-card-image {
  height: 20rem;
  width: 22rem;
}
.save-future-para,
.latest-news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.save-future-para-heading,
.latest-news-heading {
  font-size: 1.8rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.event-para,
.latest-news-para {
  font-size: 1.3rem;
  text-align: center;
  color: hsl(219, 13%, 69%);
}
.save-future-button,
.latest-news-button {
  width: 13rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: hsl(142, 77%, 86%);
  color: hsl(220, 30%, 30%);
  font-size: 1.3rem;
  font-weight: 800;
}
.save-future-button:hover,
.latest-news-button:hover {
  background-color: hsl(220, 30%, 30%);
  color: hsl(142, 77%, 86%);
}

/* -----save future desktop part----- */
@media (min-width: 1024px) {
  .save-future {
    display: none;
  }
  .save-future-section {
    display: block;
    background-color: hsl(220, 30%, 30%);
    height: 98rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .future-heading-content {
    padding: 1rem;
    margin-right: 42rem;
  }
  .future-heading {
    margin-left: 13rem;
    color: hsl(0, 0%, 100%);
    font-family: "Protest Riot", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
  }
  .event-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
  }
  .latest-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }
  .event-image {
    height: 30rem;
    width: 35rem;
    margin-left: 14.5rem;
  }
  .latest-card-image {
    height: 30rem;
    width: 40rem;
    margin-right: 20.5rem;
  }
  .save-future-content {
    margin-right: 15rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2rem;
  }
  .latest-content {
    margin-left: 14.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .event-heading,
  .latest-heading {
    width: 10rem;
    height: 3rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(215, 21%, 42%);
    letter-spacing: 0.1rem;
    font-family: sans-serif;
  }
  .future-para-heading,
  .latest-main-heading {
    color: hsl(0, 0%, 100%);
    font-size: 2.8rem;
  }
  .event-card-para,
  .latest-para {
    color: hsl(222, 12%, 73%);
    font-size: 1.3rem;
  }
  .future-button,
  .latest-button {
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    background-color: hsl(142, 77%, 86%);
    color: hsl(220, 30%, 30%);
    font-weight: 600;
  }
  .future-button:hover,
  .latest-button:hover {
    background-color: hsl(220, 30%, 30%);
    color: hsl(142, 77%, 86%);
  }
}

/* -----subscribe mobile part----- */
.subscribe-section {
  padding: 1rem;
  background-color: hsl(142, 77%, 86%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.subscribe-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.subscribe-section-heading {
  display: flex;
  align-content: center;
  font-size: 1.8rem;
  color: hsl(220, 30%, 30%);
}
.input {
  width: 13rem;
  height: 3rem;
  border-radius: 3rem;
  border: none;
}
.subscribe-button {
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
  color: hsl(142, 77%, 86%);
  background-color: hsl(220, 30%, 30%);
  border: none;
  margin-bottom: 2rem;
  font-weight: 800;
}
.subscribe-button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 30%, 30%);
  margin-bottom: 2rem;
}

/* -----subscribe desktop part ----- */
@media (min-width: 1024px) {
  .subscribe-section {
    height: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }
  .subscribe-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .subscribe-section-heading {
    margin-left: 13.5rem;
    margin-right: 2rem;
    font-size: 1.8rem;
  }
  .input {
    width: 18rem;
    height: 3rem;
    padding-left: 1rem;
    margin-right: 3rem;
  }
  .subscribe-button {
    width: 8rem;
    height: 3rem;
    margin-right: 15rem;
    margin-top: 2rem;
  }
}

/* ----- footer mobile part ----- */
.climate-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 30rem;
  gap: 2rem;
  font-family: sans-serif;
}
.climate-content, .learn-follow-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.green-side-content {
  display: flex;
  align-self: flex-start;
}
.green-side-content-para {
  margin-left: 1rem;
  margin-right: 1rem;
  color: hsl(220, 30%, 30%);
  font-weight: 800;
  font-size: 1.5rem;
}
.contact-details {
  line-height: 1.3rem;
}
.contact-us-heading, .address {
  color: hsl(218, 9%, 34%);
  line-height: 1.5rem;
}
.number, .contact {
  line-height: 1.5rem;
  text-decoration: none;
  color: hsl(218, 9%, 34%);
}
.learn-more, .follow-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: hsl(218, 9%, 34%);
  margin-right: 3rem;
}
.follow-us a, .learn-more a {
  color: hsl(218, 9%, 34%);
  line-height: 1.5rem;
}
.last-content {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-size: 2.2rem;
  font-family: "Protest Riot", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-right: 1rem;
  margin-left: 18rem;
  letter-spacing: 0.1rem;
  color: hsl(220, 30%, 30%);
}

/* ----- footer desktop part ----- */
@media (min-width: 1024px) {
  .climate-footer {
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3rem;
    gap: 3rem;
  }
  .green-side-content {
    display: flex;
    flex-direction: row;
    padding-left: 12rem;
  }
  .green-side-content-para {
    width: 10rem;
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
  }
  .contact-details {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .learn-more,
  .follow-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .learn-more-heading,
  .follow-heading,
  .contact-us-heading {
    margin-bottom: 1rem;
  }
  .learn-more a,
  .follow-us a {
    width: 8rem;
  }
  .last-content {
    position: relative;
    right: 18rem;
    bottom: 1.5rem;
  }
}
